body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, input {
  margin: 0;
  padding: 0; }

a {
  color: #000;
  text-decoration: none; }

ul, ol {
  list-style: none; }

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 14px; }

i, em {
  font-style: normal; }

img, input {
  vertical-align: top; }

img {
  border: none; }

input {
  outline: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear-fix:after {
  content: "";
  display: block;
  clear: both; }

.clear-fix {
  zoom: 1; }

body {
  font-size: 20px; }

/***************header*************/
header {
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #e60012;
  position: relative;
  padding: 0 0.8rem; }
  header h2 {
    font-size: 0.85rem;
    color: #fff; }
  header .headerBtn {
    position: absolute;
    top: 0;
    right: 0.35rem;
    display: flex;
    flex-direction: row; }
  header .downLoadAPP, header .register-login {
    display: inline-block;
    padding: 0 0.8rem;
    font-size: 0.7rem;
    color: #fff;
    line-height: 2.2rem; }
  header .downLoadAPP {
    position: relative; }
    header .downLoadAPP:after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 0;
      height: 0.8rem;
      border-left: 1px solid #ed3846; }

/***************section*************/
section {
  padding: 0.75rem;
  color: #323232; }
  section h2 {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.5rem; }

.person {
  display: flex;
  flex-direction: row;
  padding: 0.4rem 0; }
  .person .personImg {
    width: 1.95rem;
    height: 1.95rem;
    background-color: #eee;
    border-radius: 50%; }
    .person .personImg img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .person .personInfo {
    padding-left: 0.5rem; }
    .person .personInfo h4 {
      font-size: 0.75rem;
      font-weight: bold; }
    .person .personInfo p {
      font-size: 0.6rem;
      line-height: 1rem; }

.article p {
  font-size: 0.8rem;
  line-height: 1.5rem; }
.article img {
  width: 100%;
  height: auto;
  margin: 0.4rem 0; }

#openBtn {
  width: 4.75rem;
  height: 1.7rem;
  line-height: 1.7rem;
  border-radius: 0.85rem;
  font-size: 0.7rem;
  color: #fff;
  text-align: center;
  background-color: #e60012;
  box-shadow: 0 1px 0.3rem rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 6rem;
  left: 50%;
  margin-left: -2.375rem; }

iframe {
  border-style: none; }

/***************footer*************/
footer {
  height: 4.75rem;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 0.25rem;
  margin-bottom: 0.25rem; }
  footer ul li {
    height: 2.25rem;
    padding: 0 0.75rem;
    box-sizing: border-box; }
    footer ul li a {
      display: inline-block;
      width: 100%;
      line-height: 2.25rem;
      font-size: 0.8rem;
      color: #000;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 1.25rem;
      box-sizing: border-box;
      background: url(../img/news2.png) no-repeat left;
      background-size: 0.9rem; }

/**********isWinxin.html************/
#isWinxin {
  text-align: center;
  position: relative; }
  #isWinxin .tip {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    padding: 0 0.6rem;
    line-height: 2.1rem;
    font-size: 0.7rem;
    color: #fff;
    border-radius: 0.25rem;
    background-color: #e60012; }
    #isWinxin .tip:after {
      position: absolute;
      transform: rotateZ(45deg);
      right: 0.8rem;
      top: -0.25rem;
      display: block;
      width: 12px;
      height: 12px;
      box-shadow: -2px -2px 18px -2px rgba(26, 26, 26, 0.1);
      border-radius: 3px;
      content: "";
      background: #e60012;
      transition: all .3s; }
  #isWinxin .content {
    display: flex;
    flex-direction: column;
    height: 83%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center; }
    #isWinxin .content p {
      padding: 0 1.5rem;
      font-size: 0.8rem;
      color: #5c5c5c;
      text-align: left;
      line-height: 1.25rem;
      text-indent: 2em;
      padding-bottom: 0.75rem; }
  #isWinxin img {
    width: 5rem;
    height: 5rem;
    margin: 5.5rem auto 0; }
  #isWinxin h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #9d9d9d;
    margin: 1.05rem 0 1.55rem; }
  #isWinxin .openApp, #isWinxin .downLoadApp {
    display: block;
    width: 20rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.4rem;
    background-color: #e60012;
    margin-bottom: 1rem; }
  #isWinxin .downLoadApp {
    color: #e60012;
    border: 1px solid #e60012;
    background-color: #fff; }

/*# sourceMappingURL=newsShare.css.map */
